.app {
  padding: 20px;
  font-family: sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

.app h1.title {
  margin-bottom: 0;
}

.app .intro {
  margin-top: 1em;
}

.app .path-control {
  margin-top: 1em;
}

.app .email-control {
  margin-top: 10px;
}

.app .profile-tile {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px;
}

.app .profile-tile .button {
  margin-top: 1em;
}

.app .buttons {
  margin-top: 50px;
}
