.app {
  padding: 20px;
  font-family: sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

.app h1.title {
  margin-bottom: 0;
}

.app .intro {
  margin-top: 1em;
}

.app .path-control {
  margin-top: 1em;
}

.app .email-control {
  margin-top: 10px;
}

.app .profile-tile {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px;
}

.app .profile-tile .button {
  margin-top: 1em;
}

.app .buttons {
  margin-top: 50px;
}

.dialog {
  transition: opacity 350ms;
  opacity: 0;
}
.dialog-show-start {
}
.dialog-show-end {
  opacity: 1;
}
.dialog-hide-start {
}
.dialog-hide-end {
  opacity: 0;
}

/* Cannot use `.notification` as it is used by Bulma */
.demo-notification {
  position: fixed;
  z-index: 30;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.notification-content {
  position: relative;
  z-index: 0;
  padding: 16px 24px;
  color: #fff;
  background: #333;
  width: 100%;
  margin: 0 20px;
  border-radius: 8px 8px 0 0;
}

/* Override Bulma */

.modal {
  padding: 20px;
}
.modal-card-foot {
  flex-wrap: wrap;
}

.footer-buttons {
  margin: -5px;
  font-size: 0;
}

.modal-card-foot a,
.modal-card-foot .button {
  margin: 5px !important;
}
