node_modules
.DS_Store
npm-debug.log*
*.log
*.lock
.rpt2_cache
index.js.LICENSE*
screenshots
.idea
packages/test-dialogic-mithril/dist/js/*.js*
packages/test-dialogic-react/dist/js/*.js*
packages/test-dialogic-svelte/public/*.js*
