.remaining.svelte-bf7089{min-width:3em;text-align:left}
.page {
  display: flex;
  flex-direction: column;
}

body,
#root,
.page {
  height: 100%;
}

main {
  flex-grow: 1;
  padding: 20px;
}

footer {
  flex-shrink: 0;
  color: #999;
  padding: 20px;
}

.dialog {
  transition: opacity 350ms;
  opacity: 0;
}
.dialog-show-start {
}
.dialog-show-end {
  opacity: 1;
}
.dialog-hide-start {
}
.dialog-hide-end {
  opacity: 0;
}

.notification {
  transition: opacity 350ms;
  opacity: 0;
}
.notification-show-start {
}
.notification-show-end {
  opacity: 1;
}
.notification-hide-start {
}
.notification-hide-end {
  opacity: 0;
}
