.demo-dialog {
  transition: opacity 350ms ease-in-out;
  opacity: 0;
}
/* .dialog-show-start {} */
.demo-dialog-show-end {
  opacity: 1;
}
/* .dialog-hide-start {} */
.demo-dialog-hide-end {
  opacity: 0;
}

/* Cannot use `.notification` as it is used by Bulma */
.demo-notification {
  position: fixed;
  z-index: 0;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.notification-content {
  position: relative;
  z-index: 0;
  padding: 16px 24px;
  color: #fff;
  background: #333;
  width: 100%;
  margin: 0 20px;
  border-radius: 8px 8px 0 0;
  max-width: 960px;
}

/* Override Bulma */

.modal {
  padding: 20px;
}
.modal-card-foot {
  flex-wrap: wrap;
}

.footer-buttons {
  margin: -5px;
  font-size: 0;
}

.modal-card-foot a,
.modal-card-foot .button {
  margin: 5px !important;
}
