.menu {
  padding: 15px;
}

.test {
  padding: 15px;
  min-height: 100vh;
}

.instance-content {
  padding: 20px;
  background: #a7ffeb;
}

.dialog + .dialog {
  margin-top: 15px;
}

.message {
  padding: 15px;
}

.section {
  margin: 0;
  padding: 0;
}

.section + .section {
  margin-top: 30px;
}

.control {
  padding: 10px 15px;
  background: #f5f5f5;
}

.control .buttons {
  margin: 0 -5px;
}

.control + .control {
  border-top: 1px solid #ddd;
}

.control .button {
  margin: 5px;
}

.content {
  margin-top: 25px;
}

.button.primary {
  background: #039be5;
  border: none;
  color: #fff;
}

.spawn {
  border: 3px solid transparent;
  padding: 20px;
}

.spawn:before {
  content: 'Default';
  font-size: small;
  font-weight: bold;
  color: #888;
  display: block;
}

.spawn:not(:empty):before {
  margin-bottom: 20px;
}

.spawn + .spawn {
  margin-top: 20px;
}

.default-spawn {
  border-color: #ddd;
}

.default-spawn:before {
  content: 'Default spawn';
}

.custom-spawn {
  border-color: #40c4ff;
  padding: 20px;
}

.custom-spawn:before {
  content: 'Custom spawn';
}
